{
    "presets": [
        "es2015"
    ],
    "compact": false,
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}