.places {
    padding-top: 8px;
    background-color: #ffffff;
}
.places-list {
    thead tr{
        height: 64px;
        th {
            border-bottom: 1px solid @color-light-breeze;
            background-color: transparent;
            color: @color-solid-4;
            &:first-of-type {
                padding: 0 32px!important;
            }
        }
    }
}