@import "./variables.less";
@import "./buttons.less";
@import "./tables.less";
@import "./introduction.less";
@import "./inputs.less";
@import "./loading.less";
@import "./modals.less";
@import "./fonts.less";
@import "../app/components/SelectLevel/SelectLevel.less";
@import "../app/components/Filter/filter.less";
@import "../app/scenes/Places/places.less";

a {
    color: @primary-color;
}

body {
    min-width: 1024px;
    fill: @color-solid;
    font-family: 'YekanBakh', 'OpenSans';
}

._df {
    display: flex
}

._cp {
    cursor: pointer
}

.filler {
    display: flex;
    flex: 1;
}

._jcc {
    justify-content: center
}

hr {
    border-top-color: @color-light-breeze;
    border-bottom: none;
}
.main-panel {
    display: table;
    width: 100%;
    min-height: 100%;
}
.ant-layout-content {
  margin-bottom: 64px;
  overflow: visible;
}
.ant-layout-sider {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}
.container {
  padding: 0 24px;
  margin-left: 80px;
  max-width: 1920px;
}

.ant-layout-header {
    line-height: 104px;
    height: 104px;
    padding: 0
}

.ant-layout-has-sider {
    min-height: 100vh;
}

h1 {
    display: inline-block
}

h3 {
    font-size: 24px
}

.ant-btn-discard {
    width: 92px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(50, 61, 71, .72);
    border: 1px solid #95989A;
    margin-right: 16px;
    background: #F7FAF8;
}

.ant-btn-apply {
    width: 212px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid @primary-color;
    margin-right: 16px;
    background: @primary-color-rev;
}

input {
    border: 1px solid #D2D6D4;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    transition: border-color .2s;
    &:focus {
        border: 1px solid black;
        outline: none;
    }
}

select {
    border: 1px solid #D2D6D4;
    border-radius: 4px;
    color: black;
    background: #f7faf8; /* Old browsers */
    background: -moz-linear-gradient(bottom, #f7faf8 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, #f7faf8 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #f7faf8 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7faf8', GradientType=0);
}

.hidden {
    display: none !important;
}

.dashboardRow {
    margin: 24px 0 0 0 !important;
}

.settingRow {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.optionCard {
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(50, 61, 71, .16);
    .ant-card-head {
        border: none;
        padding: 0 16px;
        height: 64px;
        .ant-card-head-title {
            line-height: 64px;
            font-size: 16px;
            font-weight: bold;
            color: @color-solid-8
        }
    }
    .ant-card-body {
        padding: 0
    }
    ul {
        margin-left: 16px;
        li {
            border-bottom: 1px solid rgba(50, 61, 71, 0.08);
            padding-right: 16px;
            margin-bottom: 16px;
            padding-bottom: 24px;
            &:last-of-type {
                border: none
            }
        }
    }
    .option {
        width: 100%;
        display: flex;
        align-items: center;
        label {
            width: 100%;
            display: flex;
            color: @color-solid;
            font-size: 16px;
            margin-bottom: 0;
        }
        .ant-form-item {
            margin: 0;
        }
        select {
            width: 192px;
            flex: none;
            margin-bottom: 8px;
            height: 32px;
        }
        input {
            width: 128px;
            flex: none;
            margin-bottom: 8px;
            height: 32px;
            text-align: center;
        }
        .ant-form-explain {
            white-space: nowrap;
        }
        .ant-form-item-control {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    p {
        color: @color-solid-64;
        font-size: 13px;
        margin-bottom: 16px;
    }
}

.account-success-icon {
    color: @primary-color;
    font-size: @font-size-lg + 8;
}

.account-failure-icon {
    color: #e74c3c;
    font-size: @font-size-lg + 8;
}

.create-accounts {
    .account-row {
        margin-bottom: 16px;
        position: relative;
        .row-controls {
            left: -30px;
            top: 5px;
            position: absolute;
            .remove-butn {
                fill: @color-force;
            }
        }
        .ant-input {
            height: 40px;
        }
        .acc-btn {
            display: flex;
            justify-content: center;
        }
        .ant-form-item:last-of-type {
            input {
                width: 177px;
            }
        }
        .ant-row.ant-form-item {
            width: 30%;
            max-width: 161px;
        }
    }
    .ant-modal-body {
        padding: 8px 44px;
        // background-color: rgba(50, 61, 71, .04)
    }
    .ant-modal-footer {
        border-top: 1px solid transparent;
    }
    .ant-card {
        height: 48px;
        margin-top: 20px;
        margin-bottom: 24px;
        background-color: rgba(0, 180, 90, .08);
        border: 1px solid rgba(0, 180, 90, .16);
        font-size: 13px;
        .ant-row-flex-middle {
            height: 100%;
            padding: 0 16px
        }
        span {
            font-size: 12px;
            margin-left:24px;
        }
    }
    .ant-btn-primary {
        height: 40px
    }
    .ant-card-body {
        padding: 0;
        height: 48px;
    }
    .create-account-head {
        margin: 16px 0 6px;
        font-size: 13px;
        color: @color-solid-8;
        .ant-col-5 {
            max-width: 161px;
            margin-right: 10px;
        }
    }
    .ant-modal-footer {
        i {
            opacity: .72;
        }
        > div {
            display: flex;
            align-items: center;
        }
        label {
            text-align: left;
            line-height: 40px;
            display: flex;
            margin-left: 14px;
            font-size: 14px;
            color: @color-solid;
            margin-right: 8px;
        }
    }
}

.ant-modal-title {
    line-height: 37px;
}

.header input {
    height: 40px;
}


.ant-btn-toolkit {
    color: rgba(0, 0, 0, .32);
    border-color: transparent;
    background-color: transparent;
    margin: 0 8px;
}

.ant-btn-toolkit-user {
    color: rgba(0, 0, 0, .32);
    border-color: transparent;
    background-color: transparent;
    margin: 0 8px;
    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
    }
}

.ant-btn-delete-row {
    color: @force-color;
    border-color: transparent;
    background-color: transparent;
    opacity: .72;
    &:hover {
        opacity: 1;
        color: @force-color;
        border-color: transparent;
        background-color: transparent;
    }
}
.ant-dropdown-menu.ant-dropdown-menu-vertical {
    padding: 8px 0;
    box-shadow: 0px 16px 32px rgba(50, 61, 71, 0.32);
    hr {
        margin: 8px 0;
    }
    .ant-dropdown-menu-item-divider {
        // display: none;
    }
}
.ant-dropdown-menu-item {
    border: none;
    padding: 7px 12px;
    i {
        margin-right: 12px;
    }
    i.anticon {
        margin-right: 0;
        margin-left: 12px;
    }
    a {
        display: inline-block
    }
}
.ant-dropdown-menu-item-selected {
    svg, path {
        fill: @primary-color;
    }
}

.ant-pagination {
    .ant-pagination-item,
    .ant-pagination-next, .ant-pagination-prev   {
        width: 24px;
        margin: 0 2px;
        line-height: 24px;
        color: @color-solid;
        height: 24px;
        border: none;
    }
    .ant-pagination-item-active {
        color: #fff;
        border-radius: 4px;
        background-color: @color-solid;
    }
    .ant-pagination-next, .ant-pagination-prev {
        width: 24px;
    }
    .ant-pagination-prev a:after, .ant-pagination-next a:after {
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
    }
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.oddcondi {
    transform: translateY(8px);
}

.ant-table-row, .user-row, .place-row {
    &:hover {
        cursor: pointer;
    }

}

.PlaveView-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImageHolder-place:after {
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

.ImageHolder-avatar:after {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

.ImageHolder-avatar-64:after {
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

.ImageHolder-avatar-24:after {
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

.ImageHolder-avatar-20:after {
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}
.ImageHolder-avatar-16:after {
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

div.ant-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: @color-solid;
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=94);
}
.place-modal {

    .ant-col-6 {
        display: flex;
        justify-content: center;
        width: auto;
        margin-right: 24px;
        min-width: 64px;
    }
}
.ant-menu-inline, .ant-menu-vertical {
  border: none;
}
.Place-Des {
    p {
        font-size: 16px;
        line-height: 19px;
    }
    span {
        font-size: 14px;
        line-height: 16px;
        margin-top: 4px;
        color: rgba(0, 0, 0, .48);
    }
}

.user-row {
    height: 64px;
    p {
        font-size: 14px;
    }
    span {
        font-size: 12px;
        color: rgba(0, 0, 0, .72)
    }
    aside {
        font-size: 12px;
        text-align: right;
        color: rgba(0, 0, 0, .40);
        align-items: center;
        display: flex;
        flex: none;
        i.nst-ico {
            width: 24px;
            height: 24px;
            margin-left: 4px;
        }
    }
    .user-row-inner {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      height: 100%;
      .ant-row-flex {
        margin: 0;
        height: 100%;
        padding: 0;
      }
    }
}

.scene-head {
    margin-bottom: 24px;
    height: 56px;
    border-bottom: 1px solid @color-light-breeze;
    h2 {
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        line-height: 56px;
        flex: 1;
        color: @color-solid;
    }
}

.system-config {
    .scene-head {
        border-bottom: 1px solid @color-light-breeze;
        h2 {
            display: flex;
            width: auto;
            flex: 1;
            border: none;
        }
    }
}
// .change-photo {
//     color: @primary-color;
//     vertical-align: middle;
//     &:hover {
//         text-decoration: underline;
//     }
// }

.remove-photo {
    color: @force-color;
    vertical-align: middle;
    margin-left: 32px;
    &:hover {
        text-decoration: underline;
        color: @force-wire-color;
    }
}
.placemodal {
  img {
    border: 3px solid white;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0,0,0,.16);
  }
}
.main-menu {
    position: relative;
    .logo {
        height: 88px;
        position: absolute;
        width: 100%;
        background-image: url('../style/images/nested-logo-256.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.filterPopover {
    width: 224px;
    height: 26px;
    p {
        font-weight: bold;
        display: flex;
        flex: 1;
        font-size: 14px;
    }
}
// Sign in

.signin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .ant-card {
        max-width: 360px;
        width: 100%;
    }
    .ant-btn-primary {
        width: 100%;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px), only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px), only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px), only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px), only screen and (                min-resolution: 192dpi) and (min-width: 320px), only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {
    .ic_absolout_place_solid_24,
    .ic_absolout_place_solid_24:hover,
    .ic_absolout_place_solid_24:focus {
        background-image: url('../style/images/ic_absolout_place_solid_24@2x.png');
    }

    .ic_access_sensewire_24,
    .ic_access_sensewire_24:hover,
    .ic_access_sensewire_24:focus {
        background-image: url('../style/images/ic_access_sensewire_24@2x.png');
    }

    .ic_access_solid_24,
    .ic_access_solid_24:hover,
    .ic_access_solid_24:focus {
        background-image: url('../style/images/ic_access_solid_24@2x.png');
    }

    .ic_account_sensewire_24,
    .ic_account_sensewire_24:hover,
    .ic_account_sensewire_24:focus {
        background-image: url('../style/images/ic_account_sensewire_24@2x.png');
    }

    .ic_account_solid_24,
    .ic_account_solid_24:hover,
    .ic_account_solid_24:focus {
        background-image: url('../style/images/ic_account_solid_24@2x.png');
    }

    .ic_admins_log_solid_24,
    .ic_admins_log_solid_24:hover,
    .ic_admins_log_solid_24:focus {
        background-image: url('../style/images/ic_admins_log_solid_24@2x.png');
    }

    .ic_bell_solid_24,
    .ic_bell_solid_24:hover,
    .ic_bell_solid_24:focus {
        background-image: url('../style/images/ic_bell_solid_24@2x.png');
    }

    .ic_bin_force_16,
    .ic_bin_force_16:hover,
    .ic_bin_force_16:focus {
        background-image: url('../style/images/ic_bin_force_16@2x.png');
    }

    .ic_brick_wall_solid_16,
    .ic_brick_wall_solid_16:hover,
    .ic_brick_wall_solid_16:focus {
        background-image: url('../style/images/ic_brick_wall_solid_16@2x.png');
    }

    .ic_brick_wall_solid_24,
    .ic_brick_wall_solid_24:hover,
    .ic_brick_wall_solid_24:focus {
        background-image: url('../style/images/ic_brick_wall_solid_24@2x.png');
    }

    .ic_check_senesewire_24,
    .ic_check_senesewire_24:hover,
    .ic_check_senesewire_24:focus {
        background-image: url('../style/images/ic_check_senesewire_24@2x.png');
    }

    .ic_crown_shine_24,
    .ic_crown_shine_24:hover,
    .ic_crown_shine_24:focus {
        background-image: url('../style/images/ic_crown_shine_24@2x.png');
    }

    .ic_dashboard_sensewire_24,
    .ic_dashboard_sensewire_24:hover,
    .ic_dashboard_sensewire_24:focus {
        background-image: url('../style/images/ic_dashboard_sensewire_24@2x.png');
    }

    .ic_dashboard_solid_24,
    .ic_dashboard_solid_24:hover,
    .ic_dashboard_solid_24:focus {
        background-image: url('../style/images/ic_dashboard_solid_24@2x.png');
    }

    .ic_earth_solid_16,
    .ic_earth_solid_16:hover,
    .ic_earth_solid_16:focus {
        background-image: url('../style/images/ic_earth_solid_16@2x.png');
    }

    .ic_earth_solid_24,
    .ic_earth_solid_24:hover,
    .ic_earth_solid_24:focus {
        background-image: url('../style/images/ic_earth_solid_24@2x.png');
    }

    .ic_gear_sensewire_24,
    .ic_gear_sensewire_24:hover,
    .ic_gear_sensewire_24:focus {
        background-image: url('../style/images/ic_gear_sensewire_24@2x.png');
    }

    .ic_gear_solid_-1,
    .ic_gear_solid_-1:hover,
    .ic_gear_solid_-1:focus {
        background-image: url('../style/images/ic_gear_solid_-1@2x.png');
    }

    .ic_gear_solid_24,
    .ic_gear_solid_24:hover,
    .ic_gear_solid_24:focus {
        background-image: url('../style/images/ic_gear_solid_24@2x.png');
    }

    .ic_grandplace_solid_-1,
    .ic_grandplace_solid_-1:hover,
    .ic_grandplace_solid_-1:focus {
        background-image: url('../style/images/ic_grandplace_solid_-1@2x.png');
    }

    .ic_grandplace_solid_16,
    .ic_grandplace_solid_16:hover,
    .ic_grandplace_solid_16:focus {
        background-image: url('../style/images/ic_grandplace_solid_16@2x.png');
    }

    .ic_heavy_arrow_down_solid_16,
    .ic_heavy_arrow_down_solid_16:hover,
    .ic_heavy_arrow_down_solid_16:focus {
        background-image: url('../style/images/ic_heavy_arrow_down_solid_16@2x.png');
    }

    .ic_heavy_arrow_down_solid_24,
    .ic_heavy_arrow_down_solid_24:hover,
    .ic_heavy_arrow_down_solid_24:focus {
        background-image: url('../style/images/ic_heavy_arrow_down_solid_24@2x.png');
    }

    .ic_manager-and-member_solid_24,
    .ic_manager-and-member_solid_24:hover,
    .ic_manager-and-member_solid_24:focus {
        background-image: url('../style/images/ic_manager-and-member_solid_24@2x.png');
    }

    .ic_lock_solid_24,
    .ic_lock_solid_24:hover,
    .ic_lock_solid_24:focus {
        background-image: url('../style/images/ic_lock_solid_24@2x.png');
    }

    .ic_logout_solid_24,
    .ic_logout_solid_24:hover,
    .ic_logout_solid_24:focus {
        background-image: url('../style/images/ic_logout_solid_24@2x.png');
    }

    .ic_magnify_solid_24,
    .ic_magnify_solid_24:hover,
    .ic_magnify_solid_24:focus {
        background-image: url('../style/images/ic_magnify_solid_24@2x.png');
    }

    .ic_manager_and_member_solid_16,
    .ic_manager_and_member_solid_16:hover,
    .ic_manager_and_member_solid_16:focus {
        background-image: url('../style/images/ic_manager_and_member_solid_16@2x.png');
    }

    .ic_manager_solid_16,
    .ic_manager_solid_16:hover,
    .ic_manager_solid_16:focus {
        background-image: url('../style/images/ic_manager_solid_16@2x.png');
    }

    .ic_manager_solid_24,
    .ic_manager_solid_24:hover,
    .ic_manager_solid_24:focus {
        background-image: url('../style/images/ic_manager_solid_24@2x.png');
    }

    .ic_manager-and-member_solid_24,
    .ic_manager-and-member_solid_24:hover,
    .ic_manager-and-member_solid_24:focus {
        background-image: url('../style/images/ic_manager-and-member_solid_24@2x.png');
    }

    .ic_member_solid_24,
    .ic_member_solid_24:hover,
    .ic_member_solid_24:focus {
        background-image: url('../style/images/ic_member_solid_24@2x.png');
    }

    .ic_more_solid_16,
    .ic_more_solid_16:hover,
    .ic_more_solid_16:focus {
        background-image: url('../style/images/ic_more_solid_16@2x.png');
    }

    .ic_more_solid_24,
    .ic_more_solid_24:hover,
    .ic_more_solid_24:focus {
        background-image: url('../style/images/ic_more_solid_24@2x.png');
    }

    .ic_non_search_24,
    .ic_non_search_24:hover,
    .ic_non_search_24:focus {
        background-image: url('../style/images/ic_non_search_24@2x.png');
    }

    .ic_open_message_solid_24,
    .ic_open_message_solid_24:hover,
    .ic_open_message_solid_24:focus {
        background-image: url('../style/images/ic_open_message_solid_24@2x.png');
    }

    .ic_pencil_solid_16,
    .ic_pencil_solid_16:hover,
    .ic_pencil_solid_16:focus {
        background-image: url('../style/images/ic_pencil_solid_16@2x.png');
    }

    .ic_places_sensewire_24,
    .ic_places_sensewire_24:hover,
    .ic_places_sensewire_24:focus {
        background-image: url('../style/images/ic_places_sensewire_24@2x.png');
    }

    .ic_places_solid_24,
    .ic_places_solid_24:hover,
    .ic_places_solid_24:focus {
        background-image: url('../style/images/ic_places_solid_24@2x.png');
    }

    .ic_plus_sensewire_16,
    .ic_plus_sensewire_16:hover,
    .ic_plus_sensewire_16:focus {
        background-image: url('../style/images/ic_plus_sensewire_16@2x.png');
    }

    .ic_plus_solid_24,
    .ic_plus_solid_24:hover,
    .ic_plus_solid_24:focus {
        background-image: url('../style/images/ic_plus_solid_24@2x.png');
    }

    .ic_relative_place_solid_24,
    .ic_relative_place_solid_24:hover,
    .ic_relative_place_solid_24:focus {
        background-image: url('../style/images/ic_relative_place_solid_24@2x.png');
    }

    .ic_search_24,
    .ic_search_24:hover,
    .ic_search_24:focus {
        background-image: url('../style/images/ic_search_24@2x.png');
    }

    .ic_search_solid_16,
    .ic_search_solid_16:hover,
    .ic_search_solid_16:focus {
        background-image: url('../style/images/ic_search_solid_16@2x.png');
    }

    .ic_storage_sensewire_24,
    .ic_storage_sensewire_24:hover,
    .ic_storage_sensewire_24:focus {
        background-image: url('../style/images/ic_storage_sensewire_24@2x.png');
    }

    .ic_storage_solid_24,
    .ic_storage_solid_24:hover,
    .ic_storage_solid_24:focus {
        background-image: url('../style/images/ic_storage_solid_24@2x.png');
    }

    .ic_team_solid_16,
    .ic_team_solid_16:hover,
    .ic_team_solid_16:focus {
        background-image: url('../style/images/ic_team_solid_16@2x.png');
    }

    .ic_team_solid_24,
    .ic_team_solid_24:hover,
    .ic_team_solid_24:focus {
        background-image: url('../style/images/ic_team_solid_24@2x.png');
    }

    .ic_window_solid_16,
    .ic_window_solid_16:hover,
    .ic_window_solid_16:focus {
        background-image: url('../style/images/ic_window_solid_16@2x.png');
    }

    .ic_window_solid_24,
    .ic_window_solid_24:hover,
    .ic_window_solid_24:focus {
        background-image: url('../style/images/ic_window_solid_24@2x.png');
    }

    .ic_xcross_solid_24,
    .ic_xcross_solid_24:hover,
    .ic_xcross_solid_24:focus {
        background-image: url('../style/images/ic_xcross_solid_24@2x.png');
    }

    .img_tickets,
    .img_tickets:hover,
    .img_tickets:focus {
        background-image: url('../style/images/img_tickets@2x.png');
    }

    .ant-menu-item-selected {
        // .ic_dashboard_solid_24,
        // .ic_dashboard_solid_24:hover,
        // .ic_dashboard_solid_24:focus {
        //     background-image: url('../style/images/ic_dashboard_sensewire_24@2x.png');
        // }
        // .ic_places_solid_24,
        // .ic_places_solid_24:hover,
        // .ic_places_solid_24:focus {
        //     background-image: url('../style/images/ic_places_sensewire_24.png');
        // }
        // .ic_account_solid_24,
        // .ic_account_solid_24:hover,
        // .ic_account_solid_24:focus {
        //     background-image: url('../style/images/ic_account_sensewire_24@2x.png');
        // }
        // .ic_access_solid_24,
        // .ic_access_solid_24:hover,
        // .ic_access_solid_24:focus {
        //     background-image: url('../style/images/ic_access_sensewire_24.png');
        // }
    }
}
.text-center {
    text-align: center;
}
.form-devider {
    height: 1px;
    border-bottom: 1px dashed #e9e9e9;
}

.gradient-bg {
    min-height: 360px;
    width: 100%;
    background-image: url('../style/images/rainbow.png');
    background-size: 300% 400px;
    padding: 48px 32px;
    background-repeat: repeat-y ;
    background-position: left;
    h1 {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .image {
        width: 128px;
        height: 128px;
        margin: 72px auto 0;
        fill: #fff;
        .s24 {
            transform: scale(5,5);
            transform-origin: top left;
        }
    }
    &.frame1 {
        background-position: 25%;
    }
    &.frame2 {
        background-position: 50%;
    }
    &.frame3 {
        background-position: right;
    }
}

.list-head {
    height: 28px;
    line-height: 28px;
    padding: 0 6px!important;
    border-radius: 6px;
    background: #F6F6F7;
    font-size: 13px;
    font-weight: bold;
}

.nst-opacity-hover {
    opacity: 0.2;
    transition: opacity 0.2s;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &.no-hover {
        opacity: 1;
    }
}
