@import "./variables.less";

a {
  color: @primary-color-rev;
}

.main-panel{
    display: table;
    width: 100%;
    min-height: 100%;
}

.container {
  padding: 0 24px;
}
.ant-layout-header {
  line-height: 104px;
  height: 104px;
  padding: 0
}
.ant-layout-has-sider {
  min-height: 100vh;
}
h1 {
  display: inline-block
}
.hidden {
  display: none !important;
}
.dashboardRow {
    margin: 24px 0 0 0!important;
}
.account-success-icon {
  color: @primary-color;
  font-size: @font-size-lg + 8;
}
.account-failure-icon {
  color: #e74c3c;
  font-size: @font-size-lg + 8;
}


.create-accounts {
  .account-row {
    margin-bottom: 16px;
    .ant-input {
      height: 36px;
    }
    .acc-btn {
      display: flex;
      justify-content: center;  
    }
  }
  .ant-modal-body {
    background-color: rgba(50,61,71,.04)
  }
  .ant-card {
    height: 48px;
    background-color: rgba(0,180,90,.08);
    border: 1px solid rgba(0,180,90,.16);
    .ant-row-flex-middle {
      height: 100%;
      padding: 0 16px
    }
  }
  .ant-btn-primary {
    height: 40px
  }
  .ant-card-body {
  padding: 0;
  height: 48px;
}
}
.ant-modal-title {
  line-height: 37px;
}

.header input {
  height: 40px;
}
.toolbar {
  white-space: nowrap;
  height: 80px;
  color: black;
  font-weight: 300;
    .ant-col-6 {
        display: flex;
        flex: 1;
        width: auto;
        align-items: center;
        .ant-row {
          width: 100%;
        }
        h1,h2 {
          font-weight: 300;
          font-size: 2em;
        }
        .ant-col-12 {
          display: flex;
          width: auto;
          flex: none;
          margin: 0 8px;
        }
    }
    .ant-col-18 {
        display: flex;
        flex: none;
        width: auto;
        align-items: center;
    }
    .ant-dropdown-trigger .anticon-down,
    .ant-dropdown-link .anticon-down {
      font-size: 24px;
      color: black
    }
}
.ant-btn-toolkit {
  color:rgba(0,0,0,.32);
  border-color: transparent;
  background-color: transparent;
  margin: 0 8px;
}
.ant-btn-delete-row {
  color: @force-color;
  border-color: transparent;
  background-color: transparent;
  opacity: .72;
  &:hover {
    opacity: 1;
    color: @force-color;
    border-color: transparent;
    background-color: transparent;
  }
}

.ant-dropdown-menu-item {
  i {
    margin-right: 8px;
  }
  a {
    display: inline-block
  }
}

.nst-table {
  
}

PlaveView {

}
.PlaveView-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ImageHolder-place:after {
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  pointer-events: none;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}
.ImageHolder-avatar:after {
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  pointer-events: none;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}
.ImageHolder-avatar-64:after {
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  pointer-events: none;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}
.ImageHolder-avatar-24:after {
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  pointer-events: none;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}
.ImageHolder-avatar-20:after {
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  pointer-events: none;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}