.add-member-modal {
    height: 464px;
    .ant-modal-header {
        padding: 32px 32px 0;
        border: none;
    }
    .ant-modal-title {
        font-size: 24px;
        line-height: 33px;
        margin: 8px 0 24px;
        // padding: 0 32px;
    }
    .ant-modal-body {
        padding: 0 32px;
    }
    .ant-modal-footer {
        padding: 16px;
        border: none;
    }
    ul.suggests {
        padding: 16px 0;
        max-height: 256px;
        overflow: auto;
        li > .ant-row-flex {
            height: 56px;
        }
    }
    .user-detail {
        display: flex;
        flex-direction: column;
        flex: 1;
        span {
            max-width: 100%!important;
        }
    }
    .uname {
        font-size: 16px;
    }
    .uid {
        opacity: .4;
    }
    .add-button {
        margin: 0 24px 0 8px;
        color: @primary-color;
        font-size: 13px;
    }
    .selecteds {
        display: flex;
        flex-wrap: wrap;
        li {
            height: 32px;
            background-color: @color-solid;
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding: 0 6px 0 4px;
            span {
                color: white!important;
                font-size: 13px!important;
                padding-left: 4px!important;
            }
        }
    }
}