.nst-table {
    thead.ant-table-thead tr{
        height: 64px;
        > th:not(.ant-table-selection-column){
            border-bottom: 1px solid @color-light-breeze;
            background-color: transparent;
            color: @color-solid-4;
            padding: 0 16px;
            &:first-of-type {
                padding: 0 32px!important;
            }
        }
    }
    tbody.ant-table-tbody {
        color: @color-solid-72;
        td {
            height: 64px;
            padding: 0 16px;
            &:first-of-type {
                padding: 0;
                .ant-checkbox-wrapper:not(:last-child) {
                    margin: 0 12px;
                }
            }
            &:last-of-type {
                padding-right: 24px;
            }
        }
        tr:last-of-type {
            > td {
                border: none;
            }
        }
        .date {
            span {
                opacity: .5
            }
        }
        .active {
            i {
                margin-right: 7px;
            }
            fill: @primary-color;
        }
        .deactive {
            i {
                margin-right: 7px;
            }
            fill: @color-light-breeze;
        }
    }
}