// FIXME:: fix selector
.ant-menu-item {
    height: 48px!important;
    opacity: .4;
    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-left: 30px solid ;
        transform: scaleY(.0001);
        transition: all .2s;
        border-left-width: 2px;
        border-left-color: #323D47;
    }
}

.ant-menu-inline .ant-menu-item:after,
.ant-menu-vertical .ant-menu-item:after {
    left: 0;
    right: auto;
    border-right: transparent;
    border-left: 2px solid #323D47;
}
.ant-menu-inline:not(.ant-menu-horizontal) {
    .ant-menu-item {
        opacity: .4;
        padding: 0 16px!important;
        background-color: transparent;
    }
    .ant-menu-item-selected {
        opacity: 1;
    }
}
.main-menu {
    height: 100%;
    box-shadow: 0px 0px 8px rgba(50, 61, 71, 0.16);
}
.ant-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ant-menu-item > a,
.ant-menu-item > a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: -2px;
}